@{
  Layout = "_Layout";
}

<h1 id="home-h1">Pierre's Bakery<h1>
<h2 id="home-h2">Order Tracker<h2>
<div id="home-a-container">
<h3 class="home-h3"><a href="/Vendors">Vendor List</a><h3>
<h3 class="home-h3"><a href="/Vendors/new">Add New Vendor</a><h3>
</div>